* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
}
header{
    padding: 2px;
    text-align:center;
    background: var(--main-color);
    color: #000;
}
body {
    background: var(--bg-color);
    color: #ffffff;
}
section{
    padding:1px;
}
.profil{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 1240px;
    margin-top: 30px;
    border-radius: 11px;
    text-align: center;
    font-size: 25px;
    color:rgb(255, 255, 255);
    box-shadow:-1px 0px 20px 7px var(--main-color, 0.15)
}
.nama{
    padding-top: 30px;
    padding-right: 650px;
    height: 10px;
    margin: 10px;
}
.nama1{
    padding-left: 200px;
    padding-top: 0px;
}